
<!-- List of heroes -->

<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes" 
        (click)="onSelect(hero)" 
        [class.selected]="hero === selectedHero" 
        >
            <a routerLink="/detail/{{hero.id}}">
                <span class="numbers" >{{hero.id}}</span>
                <span class="names" [class.myColor]="myColor">{{hero.name}}</span>
                
            </a>
    </li>
</ul>


<!-- Details -->
<!-- <div class="divBox">
    <h3>Hero's details: <small>@Input</small></h3>
    <app-hero-detail [hero]="selectedHero"></app-hero-detail>
</div> -->



<!-- NgModel - Two way databinding -->
<div class="divBox">
    <h3>Getting data: <small>Two way databinding</small></h3>
    <label>Name: </label>
    <input type="text" [(ngModel)] = "superHero.name">
    
    <br>
    <span>Typed name: {{superHero.name}}</span>
</div>



<!-- Change color - One way databindig -->   

    <div class="divBox">
        <h3>Sending data: <small>One way databinding</small></h3>
        <label >I want color </label>
        <input type="checkbox" [(ngModel)]="myColor">
        <span>   (look at the list)</span>
    </div>


